@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Milk Shop - Tiệm sữa bò TĐ</h1>
    <p><div class="text-center">
    <div class="search-container">
        <form action="/action_page.php">
            <input type="text" placeholder="Tìm kiếm sản phẩm ..." name="search">
            <button type="submit">Tìm Kiếm</button>
        </form>
    </div>
</p>
    <p>Để đặt hàng với mức giá ưu đãi, xin ấn vào  <a href="https://docs.microsoft.com/aspnet/core">https://shopee.vn/.</a>.</p>
    <p> <p><font><marquee direction="left" style="        background: white">Chào mừng quý khách đến với chúng tôi, hân hạnh được phục vụ quý khách hàng $_$</marquee></font>
</div></p>
<p>

</p>
</div>

<p>Sữa tươi :</p>
<p>
    <img src="https://bizweb.dktcdn.net/100/144/367/files/sua-hanh-nhan-min.jpg?v=1607073379863" id="img" style="width: 498px; height: 498px;">
    <img src="https://bizweb.dktcdn.net/100/144/367/files/sua-yen-mach-min.jpg?v=1607073239580" id="img" style="width: 498px; height: 498px;">
    <img src="https://bizweb.dktcdn.net/100/144/367/files/sua-socola-koita-min.jpg?v=1607073323546" id="img" style="width: 498px; height: 498px;">
    <img src="https://bizweb.dktcdn.net/100/144/367/files/sua-dau-koita-min.jpg?v=1607073303402" id="img" style="width: 498px; height: 498px;">
    <img src="https://bizweb.dktcdn.net/100/144/367/files/sua-it-beo-min.jpg?v=1607073272204" id="img" style="width: 498px; height: 498px;">
    <img src="https://cf.shopee.vn/file/25e49524f6e1486ecf98e97015b8621a_tn" alt="Sữa tươi free lactose hữu cơ koita | Sữa Tươi | BachHoaXanh.Sale" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 525px; height: 525px; margin: 0px;">
    <img src="https://bizweb.dktcdn.net/100/144/367/articles/sua-nguyen-em-min.jpg?v=1607073902667" alt="Gọi tên các loại sữa hữu cơ Koita nhập khẩu từ Ý Biohome" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 525px; height: 525px; margin: 0px;">
<p>

<p> Sữa chua đặc biệt : </p>
<p>
    <img src="https://mcdn.nhanh.vn/store1/59530/ps/20210615/3d_loc_sua_chua___nghieng_ad1ad3d037a64efe8cedbe92f629df70_master.png" alt="1 lốc sữa chua Vinamilk trân châu đường đen" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 400px; height: 419.672px; margin: 0px;">
    <img class="load-data-ajax" src="https://www.vinamilk.com.vn/sua-chua-vinamilk/wp-content/uploads/2020/10/nep-cam-498-451.png" alt=""> <img class="load-data-ajax" src="https://www.vinamilk.com.vn/sua-chua-vinamilk/wp-content/uploads/2020/10/com_498-451.png" alt=""> <img class="load-data-ajax" src="https://www.vinamilk.com.vn/sua-chua-vinamilk/wp-content/uploads/2021/01/love-yogurt-co-duong-498-451.png" alt="">
