@{
    ViewData["Title"] = "Mô tả sản phẩm";
}
<h1>@ViewData["Title"]</h1>
<p>
    Sữa hạnh nhân hữu cơ koita (200ml) là sữa hạt nhỏ, cực kì tiện lợi khi sử dụng. Sữa hạt hạnh nhân được nhiều người lựa chọn sử dụng bởi hàm lượng dinh dưỡng cao. Sữa hộp 200ml, có chứng nhận hữu cơ sẽ là sự lựa chọn cho các bạn nhỏ đưa đi học, hay sẽ đồng hành cùng gia đình trong những chuyến đi du lịch, picnic cuối tuần. Sữa hạnh nhân 200ml Koita đã có thêm thành phần đường, điều này giúp cho sữa dễ uống hơn, ngon hơn.
<p>
    <p><img src="https://bizweb.dktcdn.net/100/240/733/products/img2394.jpg?v=1502091694227" alt="Trang phục con bò sữa | Xưởng may Mascot hơi uy tín Hồ Chí Minh" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" data-noaft="1" style="width: 280.164px; height: 512px; margin: 0px;"></p>
<p>Thành phần:</p>
<p>
    - Nước, đường nâu hữu cơ, hạnh nhân rang hữu cơ, muối biển và các thành phần khác. Chứng nhận hữu cơ Châu Âu. Dung tích: 200ml. Xuất xứ: Ý
</p>
<p>
   <p> Công dụng: <p>

    - Sữa hạnh nhân là loại sữa chứa nhiều các vitamin và chất dinh dưỡng nhất, giàu chất chống oxy hóa, kali, magie, chất xơ vữa động mạch.

    - Hạnh nhân giúp giảm cân, giảm thèm ăn, tăng sức khỏe tiêu hóa.

    - Giúp ngăn ngừa ung thư và viêm, rất khỏe cho răng và xương, kiểm soát được nồng độ đường huyết và ngăn đái tháo đường, ngừa bệnh tim và đau tim, giúp cho não khỏe mạnh, hấp thụ chất dinh dưỡng và sức khỏe cho da.

    - Sản phẩm nhỏ gọn, dễ dàng đem theo cho bé khi đi học, đi chơi xa,...
</p>
                  <p>
                      Cách sử dụng: <p>
    <p>

                      - Sữa hạnh nhân hữu cơ koita (200ml) được sử dụng trực tiếp.

                      - Sau mở nắp bảo quản lạnh, sử dụng hết trong 3 ngày. <p>