@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<p>Milk Shop</p>
<p>Địa chỉ cửa hàng : Lầu 5 toà nhà Tiểu Đào, phường Vĩnh Nguyên, thành phố Nha Trang, tỉnh Khánh Hoà</p>
<p><img alt="Tiêu đề ảnh Get Current Location on Google Maps Step 3" decoding="async" class="whcdn content-fill" data-srclarge="https://www.wikihow.com/images/thumb/3/3f/Get-Current-Location-on-Google-Maps-Step-3-Version-5.jpg/v4-728px-Get-Current-Location-on-Google-Maps-Step-3-Version-5.jpg" data-width="460" data-height="345" id="d8e127e60f88b7c3aa947e34858ffe36" data-src="https://www.wikihow.com/images_en/thumb/3/3f/Get-Current-Location-on-Google-Maps-Step-3-Version-5.jpg/v4-460px-Get-Current-Location-on-Google-Maps-Step-3-Version-5.jpg" loading="lazy" src="https://www.wikihow.com/images/thumb/3/3f/Get-Current-Location-on-Google-Maps-Step-3-Version-5.jpg/v4-728px-Get-Current-Location-on-Google-Maps-Step-3-Version-5.jpg.webp"></p>
<p>Liên hệ hotline tư vấn sản phẩm : 0935119955</p>
<p>Link facebook : https://www.facebook.com/ </p>
<p>Giải đáp thắc mắc xin vui lòng gởi về gmail : trunghiumai24@gmail.com</p>

